* {
  padding: 0px;
  margin: 0px;
  scroll-behavior: smooth;
  letter-spacing: 0.1rem;
}



.homepage{
  background-image:linear-gradient(rgba(146, 139, 139, 0.2),rgba(34, 31, 31, 0.9)), url('./images/bg3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: 'Alata', sans-serif;
  min-height:110vh;
  overflow: hidden;
}

.navig {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  color: #dfd1d1;
  justify-content: space-between;
  height: 75px;
}

.navig .left {
  margin: 10px;
  margin-left: 40px;
  /* border:1px solid wheat; */
  border-radius: 90px;
  height: 15vh;
  width: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: wheat;
}

.navig .left h2 {
  font-family: "Mulish";
  font-size: 15px;
  text-align: center;
  color: #ffffff;
}

.navig .left img{
  height:10vh;
  
}

.navig .center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navig .center ul {
  display: flex;
  flex-direction: row;
  padding: 20px;
  list-style-type: none;
}

.navig a {
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 0.04em;
}

.center ul li {
  text-decoration: none;
  list-style-type: none;
  display: inline-flex;
  padding: 0px 20px;
  font-family: "Mulish";
  font-size: 15px;
  position: relative;
  transition: top-ease;
}

.center ul li:nth-child(1) {
  animation: 1s one;
}

.center ul li:nth-child(2) {
  animation: 1.5s one;
}

.center ul li:nth-child(3) {
  animation: 1.8s one;
}

.center ul li:nth-child(4) {
  animation: 2s one;
}
.center ul li:nth-child(5) {
  animation: 2.3s one;
}

@keyframes one {
  0% {
    opacity: 0;
    bottom: 40px;
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}

.navig .right {
  padding: 20px;
  padding-right: 40px;
  font-size: 15px;
}



.navig .right i {
  padding: 5px;
  color:white;
}

.navig .right i:hover {
  cursor: pointer;
}

.hometitle{
  display: flex;
  justify-content: center;
  align-items: center;
  height:80vh;
}

.hometitle h2{
  font-family: 'Euphoria Script', cursive;
  font-size: 100px;
  color: #dad1d1;
  letter-spacing: 0.06em;
  text-shadow: 0.5px 0.5px 1px;
  text-align: center;

}

.homeextra{
  color:rgb(165, 155, 155);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}


.homeextra h3 {
  font-family: "Mulish";
  width: 13ch;
  animation: typing 1.2s steps(14), blink .8s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  letter-spacing: 0.05em;
  margin-right: 50px;
}

@keyframes typing {
  from {
    width: 0
  }
 
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

.categories{

}

.categories .title{
  padding:5% 8%;
  margin-top: 0;
  padding-top: 80px;
}


.categories .title h1{
  font-family: "Mulish";
  font-size: 6em;
  /* font-size: 90px; */
  font-weight:lighter;
  color:rgb(109, 107, 107);
  display: flex;
  justify-content:flex-start;
  
  
}


.categories .title p{
  font-family: "Mulish";
  font-weight:500;
  color:rgb(109, 107, 107);
  padding-left: 5%;
  letter-spacing: 0.04em;
  width:50%;
  line-height: 24px;
  padding-top: 30px;
  font-size: 18px;

  
}



.categories .hr{
  width:50%;
  border-bottom: 1px solid rgb(68, 61, 61,0.3);
  margin-left: 40px;
  
}
.categories{
  background-color: #ffffff;
  background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0'%3E%3Cstop offset='0' stop-color='%23C7FBFF'/%3E%3Cstop offset='1' stop-color='%23DBFFC5'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23FFDABB'/%3E%3Cstop offset='1' stop-color='%23FFFAC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='2'%3E%3Cpath transform='translate(0 0)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='4' transform='rotate(0 800 450)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(0 0)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='4'%3E%3Cpath transform='translate(0 0)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='8' transform='rotate(0 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='rotate(0 1400 132)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
overflow: hidden;
}
.categories .content{
  padding: 10px 80px;
  display: flex;
  /* background-color: #E5E5E5;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='2'%3E%3Cpath transform='translate(0 0)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='4' transform='rotate(0 800 450)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(0 0)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='4'%3E%3Cpath transform='translate(0 0)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='8' transform='rotate(0 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='rotate(0 1400 132)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover; */
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 4rem;
  /* border: 1px solid rebeccapurple; */
  
}

.categories .card{
}

.categories .card .image{
  width:240px;
  height:350px;
  box-shadow: 2px 2px 2px 2px #4c744c;
  margin:5% 20%;
  overflow: hidden;
  background-color: white;

}



.categories .content .card img{
  max-width: 240px;
  height: auto;



}

.categories .content .button{
  position:relative;
  width: 240px;
  margin:0px 20%;
  bottom:52px;
  text-align: right;
  background-color: rgba(122, 118, 118, 0.5);
  box-shadow: 2px 2px 2px 2px #aeb3ae;

}

.categories .content .button i{
  padding:9px 70px;
  color:white;
}


.categories .content img:hover{
  background-color: #000;
  opacity:0.9;
  transition: 0.8s;
  /* zoom: 1.05; */

} 

 .categories .content .card .image:hover .button{
  background-color: #c8c8ce;
  transition: 0.8s;

}

.categories .content .card .button:hover{
  cursor: pointer;
  
  
}



.categories .content .card .button:hover i{
  color:rgb(68, 61, 61);
  transform: scale(1.2);
  transform: translateX(15px);
  transition: 0.4s;
  

}

.categories .content .detail{
  margin:0px 60px;
  padding-left: 10px;
  width:240px;


}

.categories .content .detail h2{
  font-family: "Mulish";
  font-weight:400;
  color:rgb(129, 123, 123);


}
.categories .titlehr{
  border-bottom: 1px solid rgb(119, 116, 116);
  width: 50%;
  padding-top: 5px;
}


.categories .card:nth-child(3n+2){
  margin-top:30px;

}

.categories .card:nth-child(3n+3){
  margin-top:60px;

}


.gallery .gallerycontent img{
  width: 300px;
  height: 300px;
  max-width: 400px;
  max-height: 500px;
  object-fit: cover;
  object-position: center;

}

.gallerycontent{
  width: 90vw;
margin:2rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  max-width: 1170px;
  min-height: 300px;
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
  padding-top: 70px;;
}
.gallerycontent .card{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gallerycontent .card img{
  width: 100%;
  height: 100%;
object-fit: cover;
border-radius: 10px;
object-position: center;

}

.gallerycontent .card:hover img{
  opacity: 0.8;
  cursor: pointer;
}

/* .gallery .navig .left h2 {
  color:rgb(34, 33, 33);
} */

.gallery .navig .center a{
  color:rgb(53, 51, 51);
}

.gallery .navig .left img{
  
}


.gallery .navig .right i {
  color:rgb(53, 51, 51);
}


.gallery .bg-modal{
  height: 100vh;
  width:100%;
  background-color: whitesmoke;
  position: fixed;
  top:0;
  left:0;
  
  
}

.gallery .modal{
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
  flex-wrap: wrap;
 
}

.gallery .modal .left{
  width: 40%;
  display: flex;
  justify-content: flex-start;
  padding: 0px;
  align-items: center;
  

  
}

.gallery .modal .image{
  width: 100%;
  min-height:70vh;
  display: flex;
  align-items: center;

}


.gallery .modal img{
  max-height:100vh;
  width:100%;
  box-shadow: 5px 5px 5px 5px #ced3ce;
  height: 100vh;
  object-fit: contain;
}





.gallery .modal .right{
  width:45%;
  height:100vh;
  padding-right: 5%;

}

.gallery .modal .right .content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:90vh;
}

.gallery .modal .right .content .title{
  text-align: center;
}

.gallery .modal .right .content .title h1{
  font-family: "Mulish";
  font-weight: 400;
  color:rgb(61, 59, 59);
  font-size: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

}

.gallery .modal .right .content .title h2{
  font-family: "Mulish";
  font-weight: 400;
  color:rgb(61, 59, 59);
  font-size: 20px;
  letter-spacing: 0.05em;
}

.gallery .modal .right .content .title span{
  font-weight: 200;
  font-size: 18px;

}




.gallery .modal .right .content .detail{
  text-align: center;
  margin:30px 10px;
}

.gallery .modal .right .content .detail p{
  font-family: "Mulish";
  font-weight: 400;
  color:rgb(48, 46, 46);
  letter-spacing: 0.03em;
}

.gallery .modal .cross{
  width:20px;
  padding:3px;
  height:20px;
  position: absolute;
  top:0px;
  right:0;
  margin:20px;
  color:rgb(153, 154, 155);

}
.copyright{
  min-height: 50px;
  font-family: "mulish";
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "Mulish";
  font-weight: lighter;
  color:rgb(58, 57, 57);
}

.cross:hover{
  cursor: pointer;
}

.gallery .navig {
  outline:none;
  border:none;
}



@media only screen and (max-width: 640px) {
  .categories .title{
    margin:20px 0px;
  }

  .categories .title h1{
    font-size: 3em;
  }

  .categories .title p{
    width: 100%;
  }
  .categories .hr{
    width:100%;
    border-bottom: 1px solid rgb(68, 61, 61,0.3);    
  }
  .categories .content{
    margin:0px;
    padding:0px;
    justify-content: center;
    align-items: center;
  }
  
  .gallery .modal .left{
    width: 100%;
    padding:5px;
  }

  .gallery .bg-modal {
    overflow-y: scroll;

  }

  .gallery .modal .right{
    width:100%;
  }

  .navig .center ul{
    padding:10px;
  }

  .navig .center ul li{
    padding:8px;
    text-align: center;
  }

  .navig .left{
    margin:5px;
  }

  .navig .right{
    padding:25px 10px;
  }

  

  
  
}


@media only screen and (max-width:1200px) and (min-width: 650px){
  
    .categories .title p{
      width: 80%;
    
  }

}

.loader{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  padding-top: 10%;
}

.homeloader{
  border:1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}